:root {
  /* Media Queries Breakpoints */
  /* --phone: 480px;
  --tablet: 768px;
  --desktop: 1024px;
  --xl_desktop: 1450px; */

  /* Colors */
  --dark-blue: #001D3D;
  --green: #03a900;
  --blue: #00296B;
  --light-blue: #00509D;
  --ultra-light-blue: #0466CB;

  /* General Colors */
  --red: #b91f13;
  --green: #057505dc;
  --yellow: #eac704;
  --white: #FEFEFE;
  --gray: #F0F3F4;
  --black: #000000;

  /* Fonts Weights */
  /* --thin: 300;
  --regular: 400;
  --bold: 700; */

  /* Fonts Families */
  --primary: "Arial", sans-serif;
  --secondary: "Arial", sans-serif;
  --heading: "Arial", sans-serif;
  --tc: "Arial", sans-serif;

  /* General Styles */
  font-family: var(--primary);
}

/* html {
  font-size: 62.5%;
  box-sizing: border-box;
  height: 100%;
} */

/* *,
*:before,
*:after {
  box-sizing: inherit;
} */

/* body {
  font-size: 1.8rem;
  height: 100vh;
  margin: 0;
} */

a {
  text-decoration: none;
}

/* img {
  width: 100%;
  height: auto;
} */

::-webkit-scrollbar {
  display: none;
  /* Hide scrollbar in WebKit browsers */
}

.swiper-pagination {
  width: auto !important;
  left: 50% !important;
  transform: translate(-50%, 0) !important;
  margin: 0 auto;
  z-index: 10;
}